
@font-face {
    font-family: MarkPro;
    src: url(font/MarkPro.otf);
}

@font-face {
    font-family: MarkPro;
    src: url(font/MarkPro-Bold.otf);
    font-weight: bold;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


h1 {
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h2 {
	font-family: MarkPro;
	font-size: 28px;
	font-weight:bold;
	margin-bottom:3%;
}

a {
	text-decoration: none;
}

hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
    width:150px;
}

ul {
	list-style-type: none;
}

.header {
	position: absolute;
	margin: 35px 45px 0 45px;
    position: relative;
    height: 35px;
}

.header hr {

    position: absolute;
    z-index: 1;
    width: 100%;
    border: none;
    border-bottom: 1px solid #AAA;
    top: -8px;
    left: 0;

}

.logo_area {
	position: absolute;
    left: -1px;
    top: -6px;
    z-index: 2;
    padding-right: 20px;
    background: white;
}

.senseable_logo {
	width: 212px; 
	height: 14px;
}

.mit_area {
	position: absolute;
    right: 0;
    top: -10px;
    z-index: 2;
    padding-left: 20px;
    background: white;
}

.title_section {
	margin-top:3%;
	margin-left:13%;
	margin-bottom:5%;
	width:87%;
}

.divider-tp {
	margin-top:2%;
	margin-bottom:2%;
	width:100%;
	height:20px;
}

.divider-bt {
	margin-top:2%;
	margin-bottom:2%;
	width:100%;
	height:20px;
}

.divider-tp hr, .divider-bt hr  {
	background:  #FE5F1A;
	border:none;
	height:3px;
	float:left;
}

.main_title {
	font-family: MarkPro;
	font-weight: bold;
	color:#FE5F1A;
	font-size: 60px;
	letter-spacing: -2px;
	width: 100%
}

.sub_title {
	font-family: MarkPro;
	font-size:18px;
	width: 100%;
	margin-bottom: 290px;
}

.article_body {
	width:100%;
	margin-top:26%;
	background: #F1F2F4;
	margin-bottom:0%;
	height:100%;
}


.main_img {
	/*margin-left:9%;
	margin-right:9%;
	max-width: 1000px;*/
	display: table;
    margin: 0 auto;
    width: 80%;
}

.description_boxes {
	margin-left:14%;
	margin-bottom: 4%;
	margin-top:4%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.description_box {
	height: auto;
    margin: 0 auto;
    width: 30%;
    /*padding-left: 2%;
    padding-right: 2%;*/
    margin-right: 0.25%;
    margin-left: 0.25%;
    font-family:MarkPro;
    margin-top:20px;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

.hr_box {
	height: auto;
    margin: 0 auto;
    width: 30%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    margin-right: 0.25%;
    margin-left: 0.25%;
    margin-top: 20px;
}

.box_lt {
	font-size:16px;
}

.box_rt {
	font-size:14px;
}

.hr_box_lt hr {
	background: #FE5F1A;
	border: none;
	height: 3px;
	float:left;
}

.hr_box_rt hr {
	background: #4B75FD;
	border: none;
	height: 3px;
	float:left;
	margin-bottom: 25px;
}

.app_img {
	width:100%;
	background-image: url("png/app2.png");
	background-size: cover; /* or contain depending on what you want */
  	background-position: center center;
  	background-repeat: no-repeat;
	height:300px;
	padding-top: 1px;
    margin-top: -1px;
    margin-bottom: 4%;
}

.launch_btn {
    width:200px;
    height:auto;
    padding:1%;
    font-family: MarkPro;
    color:#4B75FD;
    display:table;
    margin: 0 auto;
    text-align: center;
    margin-top:120px;
    font-weight:bold;
    cursor:pointer;
	background: #FFFFFF;
	box-shadow: 0 0 9px 2px rgba(0,0,0,0.40);
	border-radius: 100px;

}

.launch_btn:hover {
	color:#FE5F1A;
}

.lower_boxes {
	margin-left:14%;
	margin-bottom: 2%;
	margin-top:7%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.lower_boxes p {
	font-size: 12px;
	margin-bottom:15px;
}

.press_box p {
	color:#9A9A9A;
}

.lower_box {
	height: auto;
    margin: 0 auto;
    width: 30%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom:2%;
    font-family:MarkPro;
    background-color: #FFFFFF;
    font-size: 14px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

}

.lower_box hr {
	float:left;
	margin-top:10%;
	margin-bottom:10%;
}

.lower_box h2 {
	margin-bottom:5%;
}

.footer_box {
	height: auto;
    margin: 0 auto;
    width: 30%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom:2%;
    font-family:MarkPro;
    margin-top:2%;
    font-size: 14px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.thermal_imaging h2{
	color: #FFB600;
}

.particulate_matter h2{
	color: #FF9100;
}

.temperature h2{
	color: #FF6D00;
}

.road_quality h2{
	color: #FE5F1A;
}

.thermal_imaging hr{
	border: none;
	height: 3px;
	background: #FFB600;
}

.particulate_matter hr{
	border: none;
	height: 3px;
	background: #FF9100;
}

.temperature hr{
	border: none;
	height: 3px;
	background: #FF6D00;
}

.road_quality hr{
	border: none;
	height: 3px;
	background: #FE5F1A;
}

.icon_box {
	margin-bottom: 8%;
}

.footer_box h2 {
	color: #9A9A9A;
	margin-bottom:10%;
}

.footer_box a {
	color: black;
	text-decoration: underline;
	font-weight: bold;
}

.footer_box p {
	margin-top:10%;
	margin-bottom:10%;
}

.footer_box hr {
	border:none;
	height:3px;
	background: #9A9A9A;
	float:left;
}

.footer_box h3 {
	font-family: MarkPro;
	font-size: 18px;
	margin-bottom: 5%;
}

.footer_box li {
	font-size:12px;
}

.footer_box ul {
	margin-bottom: 10%;
	margin-top:5%;
}

.footer_h3 {
	margin-top:15%;
}

@media only screen and (max-width: 700px) {

    .title_section {
    	margin-bottom: 32%;
    }

    /*.main_img {
		margin-left:0%;
		margin-right:0%;
	}*/

}

@media only screen and (max-width: 332px) {

    .main_title {
    	line-height: 50px;
    }

}

@media only screen and (max-width: 450px) {

	.senseable_logo {
		width:140px;
	}

	.mit_logo {
		width:30px;
	}

	.header {
		margin: 25px 25px 0 25px;
	}

	.description_boxes {
		margin-left:4.5%;
	}

	.description_box {
		width:90%;
		padding-top: 0%;
		padding-bottom: 0%;
	}

	.description_box.box_lt {
		margin-bottom:10%;
		font-size: 15px;
	}

	.description_box.box_rt {
		font-size: 13px;
	}

	.hr_box {
		width:100%;
	}

	.app_img {
		height:200px;
		margin-bottom: 50px;
    	margin-top: 40px;
	}

	.launch_btn {
		margin-top: 85px;
		padding:3%;
	}

	.lower_boxes {
		margin-left:8%;
	}

	.lower_box {
		width:75%;
		margin-bottom: 10%;
		padding: 20px 20px 10px 20px;

	}

	.lower_box h2 {
		font-size: 24px;
	}

	.lower_box p {
		font-size: 13px;
	}
	
	.footer_box {
		width:75%;
		padding: 20px 20px 20px 20px;
	}

	.footer_box h2 {
		font-size: 24px;
	}

	.footer_box h3 {
		font-size: 16px;
		font-weight: normal;
	}

	.footer_box a, .footer_box p, .footer_box li {
		font-size: 12px;
	}

	.main_title {
		font-size: 50px;
		margin-bottom:20px;
	}

	.divider-tp {
		margin-bottom: 20px;
	}

	.sub_title {
		font-size: 16px;
		margin-bottom: 130px;
	}

	.divider-tp hr, .divider-bt hr {
		width:150px;
	}

	.title_section {
		margin-left: 8%;
	}

	.icon_svg {
		width:65px;
	}

	div.hr_box.hr_box_lt {
		margin-top:45px;
	}

	.team_box {
		margin-bottom: 80px;
	}

}

